.robo_player__notFound-overlay {
  width: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #0094b3;
}
.robo_player__notFound-overlay:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 200px solid #4cb4c9;
  border-right: 200px solid transparent;
  z-index: 20;
}
.robo_player__notFound-overlay:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 200px solid #4cb4c9;
  border-left: 200px solid transparent;
  z-index: 20;
}
.robo_player__notFound-gradient-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 300px solid #32a9c2;
  border-right: 300px solid transparent;
}
.robo_player__notFound-gradient-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 300px solid #32a9c2;
  border-left: 300px solid transparent;
}
.robo_player__notFound-textWrap {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  max-width: 50%;
  font-family: Arial,Helvetica, sans-serif;
  color: white;
  text-transform: uppercase;
  position: relative;
  z-index: 100;
}
.robo_player__notFound-header {
  font-size: 32px;
  letter-spacing: 2px;
  margin: 1px;
}
.robo_player__notFound-content {
  text-align: center;
  font-size: 16px; 
  letter-spacing: 0.5px;
  line-height: 1.5;
}
.robo_player__notFound-button {
  display: inline-block;
  padding: 10px 35px;
  background: transparent;
  border: 2px solid white;
  color: white;
  text-decoration: none;
}
.robo_player__notFound-button:hover,
.robo_player__notFound-button:hover:visited,
.robo_player__notFound-button:focus {
  background: white;
  color: #0094b3;
}
.robo_player__notFound-button:visited{
  background: transparent;
  color: white;
}